@tailwind base;
@tailwind components;
@tailwind utilities;


.grid-cols-13 {
    display: grid;
    grid-template-columns: repeat(13, 1fr);
  }
.bg-highlight{
  background: #feffe4;
}  
body{
  background: #f4f4f4;
}



::-webkit-scrollbar{
  background: white;
  width: 10px;
}

::-webkit-scrollbar-thumb{
  background: rgb(168, 167, 167);
  border-radius: 15px;
}